
html { font-family: Segoe UI, Arial, Helvetica, sans-serif; background-color: #aaa; padding:0; }
body {  background-color: gainsboro; max-width: 900px; padding-bottom: 200px; margin: auto; padding: 1.5em; }
a { color: #293e60; }
button { width: 100%; padding: 0.5em; background-color: #293e60; font-size: 1.5em; color: white; }
h1 { background-color: #293e60; color: white; padding: 0.25em 0.5em; margin: 0;}
p {padding-top: 0.35em}
li {padding: 0.3em;}
textarea { font-family: Segoe UI, Arial, Helvetica, sans-serif; }
.template { display: none; }
.race { padding: 1em; background-color: rgba(0,0,0,0.04); }
.race:nth-child(odd) {background-color: white;}
.race select { width: 100%; padding: 0.5em; margin-top: 0.5em; }
.img-container { display: table-cell; height: 150px; width: 100px; }
img {width: 100px; height: 150px; vertical-align: middle; }
.img-padded { padding: 0.4em }
label { display: table-cell; width: 6rem; font-size: 1.5em; margin: 0; padding: 0; text-align: center;  transition: 0.4s; }
label, span.label { font-family: Segoe UI Emoji; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
input[disabled] + label { opacity: 0.2 }
input[type=radio]:checked + label { display: table-cell; width: 6rem; font-size: 2.5em; transition: 0.4s; transform: rotateY(360deg); transform-origin: center center; }
input[type=radio] { display:none; }
.small { font-size: 0.8rem; }
.modal { display:none; text-align:center; background-color:white; position:fixed; top:25%; left:10%; right:10%; overflow:auto; padding:0.5em 1.5em; box-shadow:0 0 25px rgba(0,0,0,0.8); }
input[type=number] { padding: 0.5em; text-align: center; width: 3em; -moz-appearance: textfield; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; }

@media screen and (min-width: 48em) {
    label { font-size: 2em; }
    input:checked + label { font-size: 3em; transform: rotateY(360deg); transform-origin: center center; }
    .modal { left:30%; right:30%; }
}

@media screen and (min-width: 64em) {
    label { font-size: 2em; }
    input:checked + label { font-size: 4em; transform: rotateY(360deg); transform-origin: center center; }
    .modal { left:35%; right:35%; }
}
